.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background-color: hsl(218, 28%, 13%);
    background-image: url(./images/bg-curvy-mobile.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 180% 68.75rem;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.875rem;
    color: hsl(0, 0%, 100%);
    width: 100%;
    margin: auto;
    padding:2rem;
    min-width: fit-content;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
}

.menu {
    display:flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 0;
}

.logo img {
    width: 50%;
    align-content: center;
    padding-left: 1.5rem;
}

.menu a {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 0.8rem;
    font-family: 'Raleway', sans-serif;
}

.menu a:hover {
    font-weight: 700;
    text-decoration: underline;
}

.secure_location{
    text-align: center;
    margin: auto;
    margin-top: 2rem;
}

.illustration_secure img {
    width: 80%;
}

.secure_location h1 {
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.secure_location p {
    font-size: 0.8rem;
}

.button {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 25px;
    background-color:  hsl(198, 60%, 50%);
    font-weight: 700;
    font-size: 0.8rem;
    display: inline-block;
    margin-top: 1.25rem;
    transition: background-color 300ms ease;
}

.button:hover {
    background-color: hsl(176, 68%, 64%);
}

.pros {
    margin-top: 5rem;
}

.container_pros {
    padding:2rem;
    text-align: center;
}

.container_pros h2 {
    font-size: 1.2rem;
    margin-bottom: 0.7rem;
}

.container_pros p {
    font-size: 1rem;
    margin-top: 0;
}

.productive {
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.link_productive {
    color: hsl(176, 68%, 64%);
    border-bottom: 2px solid hsl(176, 68%, 64%);
    transition: fill 300ms ease;
    justify-content: left;
    margin:auto;
    width: 9rem;
    transition: filter 300ms ease;
}

.illustration_productive {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.illustration_productive img {
    width:80%;
}

.link_productive:hover {
    color:hsl(198, 60%, 50%);
    border-bottom: 2px solid hsl(198, 60%, 50%);
    filter: invert(60%) sepia(28%) saturate(967%) hue-rotate(153deg) brightness(86%) contrast(100%);
}

.link_productive img{
    width: 3%;
    margin-left: 0.5rem;
}

.link_productive p {
    font-size: 1rem;
}

.quote_icon {
    margin-bottom: -0.7rem;

}

.reviews {
    margin-bottom: 4rem;
}

.quote_icon img{
    width:10%;
}

.review_quote {
    background-color:hsl(219, 30%, 18%);
    padding:1.5rem;
    margin-bottom: 2rem;
    border-radius: 7px;
    min-width:18rem;
}

.review_quote p {
    margin: 0;
}

.person {
    display: flex;
    flex: 1;
    align-items: center;
}

.img {
    width: 2rem;
    margin-top:0.4rem;
}

.img img {
    width:100%;
    border-radius: 50%;
}

.review_quote p {
    margin-bottom: 1rem;
}

.name {
    margin-left:1rem;
}


.name_work {
    font-weight: 700;
    font-size: 0.6rem;
    margin-bottom: 0.3rem;
}

.work {
    font-size: 0.4rem;
}

.early_access {
    background-color: hsl(217, 28%, 15%);
    padding:1.5rem;
    border-radius: 15px;
    box-shadow: -13px 4px 73px -3px rgba(0,0,0,0.15);
    margin-bottom: 4rem;
    max-width:40rem;
    min-width: 20rem;
}

.early_access h2 {
    margin-top: 0;
    text-align: center;
}

.early_access p {
    text-align: center;
}

.send {
    text-align: center;
}

input[type=email] {
    padding-top:0.8rem;
    padding-bottom:0.8rem;
    padding-right:3rem;
    padding-left: 3rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 25px;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border:0;
}

input[type=submit] {
    padding-top:0.8rem;
    padding-bottom:0.8rem;
    padding-right:3rem;
    padding-left: 3rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 25px;
    color: white;
    background-color: hsl(198, 60%, 50%);
    transition: background-color 300ms ease;
    border: 0;
}

input[type=submit]:hover {
    background-color: hsl(176, 68%, 64%);
}

.p, .phone, .example_email {
    display: flex;
    align-items: center;
    margin-top:1.5rem;
}

.icon_footer {
    margin-right: 1rem;
}

.list_links {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.column1 .column2{
    padding-right: 0;
    padding-left: 0;
}

.column1 a:hover{
    font-weight: 700;
}

.column2 a:hover {
    font-weight: 700;
}

ul {
    padding: 0;
}

ul li {
    list-style: none;
    padding:0.5rem;
}

.socialmedia {
    display: inline-block;
    justify-content: center;
    margin-bottom: 2rem;
    text-align: center;
}

.icon_socialmedia {
    display: inline;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.icon_socialmedia img {
    transition: fill 300ms ease;
}

.icon_socialmedia img:hover {
    fill:hsl(176, 68%, 64%);
}

.icon_socialmedia img {
    width: 5%;
}

@media only screen and (min-width:62.5rem){
    body {
        padding:3rem;
        background-image: url(./images/bg-curvy-desktop.svg);
        background-size: 160% 150rem;
    }

    .logo img {
        width:85%;
        padding-left: 2rem;
    }
    
    .secure_location {
        margin-top: 4rem;
        max-width: 35rem;
    }

    .menu a {
        font-size: 1rem;
    }

    .pros {
        display: grid;
        grid-template-columns: 31rem 31rem;
        justify-content: center;
        margin-top: 6rem;
    }

    .container_pros {
        margin: auto;
        max-width: 40rem;
        margin-top: 0;
        margin-bottom: 0;
    }

    .container_pros h2 {
        font-size: 1.1rem;
        margin-bottom: 0.7rem;
    }
    
    .container_pros p {
        font-size: 1rem;
    }

    .productive {
        display: flex;
        flex: 1;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    .container_productive {
        max-width: 30rem;
    }

    .link_productive img{
        width: 2%;
        margin-left: 0.1rem;
    }

    .reviews {
        display: flex;
        justify-content: center;
    }

    .review_quote {
        display: inline-block;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .review_quote {
        max-width: 20rem;    
    }

    .quote_icon img{
        width:3%;
    }

    .name_work {
        font-size: 0.8rem;
        margin-bottom: 0.1rem;
    }

    .work {
        font-size: 0.6rem;
    }

    .quote_icon {
        position: absolute;
        width:100%;
        left: 15.93rem;
        margin-top: -1.625rem;
    }

    .early_access {
        margin: auto;
        margin-bottom: 4rem;
    }

    .send {
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
    }

    input[type=email] {
        margin-top: 0;
        margin-bottom: 0;
    }

    .footer {
        display: flex;
        margin: auto;
        align-items: center;
        max-width: 68rem;
    }

    .info {
        max-width: 20rem;
        margin-left: 2rem;
    }

    .list_links {
        display: flex;
        flex: 1;
        margin: 0;
    }

    .socialmedia {
        margin: 0;
        transition: filter 300ms ease;
    }

    .socialmedia a:hover {
        filter: invert(60%) sepia(28%) saturate(967%) hue-rotate(153deg) brightness(86%) contrast(100%);
    }

    .logo_footer img {
        width: 40%;
    }

    .list_links {
        margin-left: 4rem;
    }
}

